
#club {
	text-align: center;
	font-size: 30px;
	color: black;
}

#club a {
	text-decoration: none;
	color: black;
}
#club a:hover {
	color: whitesmoke;
}

.midcontent {
	background-color: #95A5A6;
	float: left;

}
.newspost {
	margin-top: 30px;
	width: 600px;
	height: 100px;
	margin: auto;
	display: block;
	background-color: #95A5A6;
}

#newscontent {
	padding: 10px;
	text-align: justify;
	width: 560px;
	height: 80px;
	margin: 10px;
	display: block;
	background-color: #ABB7B7;
	border: none;
	border-radius: 4px;
}
.btnclub {
	padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: #FFF;
}
#clubreg {
	background-color: #0EB354;
	text-decoration: none;
}
#clubreg:hover {
	background-color: #1A82E9;
}

