body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.nav #ul-nav{
    height: 80px;
    list-style: none;
    background-color: #2c3e50;
    text-align: left;
    padding: 0;
    margin: 0;
}

#ul-nav li a {
    text-decoration: none;
    color: whitesmoke;
}

.logged {
    color: whitesmoke;
    font-size: 20px;
	margin-left: 900px;
	margin-top: -50px; 
}

.home {
    padding-top: 10px;
    text-align: left;
    margin-left: 20px;
    font-size: 50px;
    text-transform: uppercase;
}

#user:hover {
	color: #2980b9;
}

.btn {
    margin-top: -30px;
    float: right;
    margin-right: 50px;
	background-color: grey;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: #FFF;
}

#outbtn {
    background-color: #e74c3c;
}

#outbtn:hover {
    background-color: #c0392b;
}

.midcontent {
	background-color: #95A5A6;
	width: 80%;
	height: 100%;
	float: right;
	z-index: -1;
}
#logo {
	width: 180px;
	height: 190px;
	margin: auto;
	display: block;
	margin-top: 30px;
}

#recent  {
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px; 
	margin-bottom: 30px;
}

#clubpost {
	margin-top: 30px;
	width: 1000px;
	height: 300px;
	margin: auto;
	display: block;
	background-color: #95A5A6;
}

#author {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #95A5A6;
}
#newscontent {
	padding: 30px;
	padding-top: 10px;
	text-align: justify;
	width: 960px;
	margin: 30px;
	margin-bottom: 30px;
	display: block;
	background-color: #ABB7B7;
	border: none;
	border-radius: 4px;
}

#newscontent a {
    color: red;
    text-decoration: none;
}
#clubcontent {
	padding: 30px;
	padding-top: 10px;
	text-align: justify;
	width: 600px;
	margin: auto;
	margin-bottom: 30px;
	display: block;
	background-color: #ABB7B7;
	border: none;
	border-radius: 4px;	
}
#status {
	text-transform: uppercase;
	float: left;
	margin-left: 120px;
	line-height: 7px;
	margin-top: -100px;

}

#tname {
	font-size: 18px;
	font-weight: bold;
}

#adm {
	color: #093764;
}
