.sidebar {
    background-color: #ABB7B7;
	width: 20%;
	height: 1809px;
	float: left;
	/*position: fixed;*/
	z-index: 1;
}
#logo {
	width: 180px;
	height: 190px;
	margin: auto;
	display: block;
	margin-top: 30px;
}

.options li a{
	font-size: 20px;
	text-decoration: none;
	color: black;
	padding-left:60px;
}

.options li{
	list-style: none;
	padding: 20px;	
}

.options li:hover{
	margin: auto;
	background-color: #6C7A89;
}

.options .active a {
	color: whitesmoke;
	font-size: 25px;
}
/*.options .active a:link{
	background-color: #6C7A89;padding-right:120px;	padding-top: 20px; 
	padding-bottom: 20px;
}*/
/*.options .active a:link , .options .active a:visited {
	background-color:  #6C7A89;	
	padding-right:90px; 	

	padding-top: 20px; 
	padding-bottom: 20px; 

}*/